<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%date] [%-6p] [%logger{0}] %m%n</Pattern>
		</layout>
	</appender>
	<appender name="rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>rysys-monitoring.log</File>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%date] [%-6p] [%logger{0}] %m%n</Pattern>
		</layout>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>20</maxIndex>
			<FileNamePattern>rysys-monitoring.log.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>5MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="br.com.codecompany.rysys.jmx" additivity="false" level="debug">
		<appender-ref ref="console"/>
		<appender-ref ref="rolling"/>
	</logger>
	<root level="debug"/>
</configuration>